  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    
    <!--******************************************************************* max lenth exceeded - File godak danna behe eka serat ekata me hala line eka danna kalaware awashya size eka*****-->
    <httpRuntime targetFramework="4.6.1" maxRequestLength="2048576" />
    
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
